
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: block;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  font-weight: bolder ;
   content: "/\00a0"; 
  /* content: "\f101"; */
  /*content: "\f0da";*/
}
.breadcrumb > .active {
  color: #777;
}
.breadcrumb > li > a {
  color: #818181;
  font-size: 15px ;
  font-weight: 600;
}
.breadcrumb > li > a:hover {
  text-decoration: none ;
}
.breadcrumb > .active > a {
	color: #999;
}
.breadcrumb > li:last-child > a{
	color: #666;
}
.qa-widget-full.qa-widget-full-high {
  margin-top: 0px ;
}
